@using SGE.Aplicacion
@rendermode InteractiveServer
@inject CasoDeUsoListarUsuarios CULU;
@inject CasoDeUsoUsuarioBaja CUUB;
@inject CasoDeUsoUsuarioModificacion CUUM;
@inject IServicioSesion ServicioSesion;
@inject NavigationManager Navegador;


@if (ServicioSesion.esAdmin)
{
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Permisos</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @if (ListaUsuarios != null)
            {

                @foreach (var usuario in ListaUsuarios)
                {
                                <tr>
                                    <td>@usuario.Id</td>
                                    <td>@usuario.Nombre</td>
                                    <td>@usuario.Apellido</td>
                                    <td>@usuario.Correo</td>
                                    <td> @if (usuario.ListaPermisos != null)
                            {
                                @string.Join(" ", usuario.ListaPermisos.Split(",").Select((permiso, index) => index % 3 == 0 && index != 0 ?
                                                  $"{permiso}\n" : permiso))
                            }</td>
                                    <td><button type="button" class="btn btn-primary" @onclick="()=> ModificarUsuario(usuario.Id)"   disabled="@((usuario.Id == 1) ? "disabled" : null)">Modificar Datos</button></td>
                                    <td><button type="button" class="btn btn-danger" @onclick="()=> EliminarUsuario(usuario.Id)"
                                            disabled="@((usuario.Id == 1) ? "disabled" : null)">Eliminar</button></td>
                                </tr>
                }
            }
            </tbody>
        </table>

}
else
{
        <Aviso @ref="aviso" urlRedirect="/"></Aviso>
}


@code {
    public bool modalAgregarPermisos = true;
    public bool modalQuitarPermisos = false;
    public bool modalModificar = false;


    private List<Usuario>? ListaUsuarios;
    Aviso aviso;

    void ModificarUsuario(int id)
    {
        Navegador.NavigateTo($"usuario/{id}");
    }

    void EliminarUsuario(int idBorrar)
    {
        try
        {
            CUUB.Ejecutar(idBorrar);
            aviso?.Mostrar("Se elimino el usuario correctamente.");
            ListaUsuarios = CULU.Ejecutar();
        }
        catch (Exception e)
        {
            aviso?.Mostrar(e.Message);
        }
    }


    // NO ES NECESARIO VALIDAR PORQUE SE HACE EN LA HOME
    protected override void OnInitialized()
    {
        if (!ServicioSesion.esAdmin)
        {
            aviso.Mostrar("No tenés permisos de admin!");

        }
        else
        {
            ListaUsuarios = CULU.Ejecutar();
        }
    }
}
