@page "/listaUsuarios"
@using SGE.Aplicacion
@using SGE.UI.Components
@rendermode InteractiveServer
@inject CasoDeUsoListarUsuarios CULU;
@inject CasoDeUsoUsuarioBaja CUUB;
@inject CasoDeUsoUsuarioModificacion CUUM;
@inject IServicioSesion ServicioSesion;
@inject NavigationManager Navegador;

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Permisos</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @if (lista != null)
            {

                @foreach (var usuario in lista)
                {
                                <tr>
                                    <td>@usuario.Id</td>
                                    <td>@usuario.Nombre</td>
                                    <td>@usuario.Apellido</td>
                                    <td>@usuario.Correo</td>
                                    <td> @if (usuario.ListaPermisos != null)
                            {
                                @string.Join(" ", usuario.ListaPermisos.Split(",").Select((permiso, index) => index % 3 == 0 && index != 0 ?
                                                  $"{permiso}\n" : permiso))
                            }</td>
                                    <td><button type="button" class="btn btn-primary" @onclick="()=> ModificarUsuario(usuario.Id)"   disabled="@((usuario.Id == 1) ? "disabled" : null)">Modificar Datos</button></td>
                                    <td><button type="button" class="btn btn-danger" @onclick="()=> EliminarUsuario(usuario.Id)"
                                            disabled="@((usuario.Id == 1) ? "disabled" : null)">Eliminar</button></td>
                                </tr>
                }
            }
            </tbody>
        </table>

@code {
    private List<Usuario>? lista;
    Aviso aviso;

    
    protected override void OnInitialized()
    {
        lista = CULU.Ejecutar(); 
    }
    
    void ModificarUsuario(int id)
    {
        Navegador.NavigateTo($"usuario/{id}");
    }

    void EliminarUsuario(int idBorrar)
    {
        try
        {
            CUUB.Ejecutar(idBorrar);
            aviso?.Mostrar("Se elimino el usuario correctamente.");
            lista = CULU.Ejecutar();
        }
        catch (Exception e)
        {
            aviso?.Mostrar(e.Message);
        }
    }
}
